{% macro render_party(party, from_index=false) %}
<div class="text-center">
  <div class="party-div">
    <h1 class="party-h1"> {{ party.title }} ({{ party.acronym }})</h1>
    {% if party.image %}
      <img class="party-image" src="{{ party.image }}" alt="{{ party.acronym }} image">
    {% else %}
      <img class="party-image" src="{{ '/static/img/default.png'|url }}" alt="{{ party.acronym }} image">
    {% endif %}
    <div class="justify">
      <canvas id="myChart"></canvas>
      {% if not party.document_values %}
        <p class="title"> Não há dados disponíveis para este partido.</p>
      {% endif %}
      {{ party.body }}
    </div>
  </div>
</div>
{% if party.document_values %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{{ party.suppliers|safe }}],
        datasets: [{
            label: 'Total gasto entre 2014 e Julho de 2019',
            backgroundColor: '{{ party.color|safe }}',
            borderColor: '{{ party.color|safe }}',
            data: [{{ party.document_values }}]
        }]
    },
});
</script>
{% endif %}
{% endmacro %}
